# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Service to start the Android GVM
Requires=qcvirtio-blk.service \
	qcvirtio-gpu-opengl.service \
	qcvirtio-snd.service \
	qcvirtio-net.service \
	qcvirtio-console.service \
	qcvirtio-vsock.service \
	qcvirtio-gpio.service \
	qcvirtio-scmi.service \
	qcvirtio-spi.service \
	qcvirtio-can.service \
	qcvirtio-i2c.service \
	qcvirtio-video-decoder.service \
	qcvirtio-video-encoder.service \
	qcvirtio-rtc.service \
	qcvirtio-input.service \
	qcvirtio-usb.service

Wants=qcvirtio-camera.service

After=qcvirtio-blk.service \
	qcvirtio-gpu-opengl.service \
	qcvirtio-snd.service \
	qcvirtio-net.service \
	qcvirtio-console.service \
	qcvirtio-vsock.service \
	qcvirtio-camera.service \
	qcvirtio-gpio.service \
	qcvirtio-scmi.service \
	qcvirtio-spi.service \
	qcvirtio-can.service \
	qcvirtio-i2c.service \
	qcvirtio-video-decoder.service \
	qcvirtio-video-encoder.service \
	qcvirtio-rtc.service \
	qcvirtio-input.service \
	qcvirtio-usb.service

[Service]
Type=simple
Slice=gvm.slice
ExecStart=/usr/bin/qcrosvm_la_qcvirtio.sh

[Install]
WantedBy = multi-user.target
