# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Service to start the AGL GVM
# List of service unit dependencies
Requires=vmm-pwr-key.service
After=qcrosvm.service vmm-pwr-key.service
# List of device unit dependencies
Wants=dev-input-usb1_touchscreen1.device
After=dev-input-usb1_touchscreen1.device
Requires=dev-input-vmm\x2dautoghgvmlv\x2dpwr\x2dkey.device
After=dev-input-vmm\x2dautoghgvmlv\x2dpwr\x2dkey.device

[Service]
Type=simple
Slice=gvm.slice
ExecStart=/usr/bin/qcrosvm \
--vm=autoghgvmlv \
--use-non-protected-virtio \
--disk=/dev/disk/by-partlabel/lv_misc,label=10E,rw=true \
--disk=/dev/disk/by-partlabel/lv_dtbo_a,label=124,rw=true \
--disk=/dev/disk/by-partlabel/lv_dtbo_b,label=125,rw=true \
--disk=/dev/disk/by-partlabel/lv_devinfo,label=101,rw=true \
--disk=/dev/disk/by-partlabel/lv_boot_a,label=106,rw=true \
--disk=/dev/disk/by-partlabel/lv_boot_b,label=107,rw=true \
--disk=/dev/disk/by-partlabel/lv_vbmeta_a,label=10C,rw=true \
--disk=/dev/disk/by-partlabel/lv_vbmeta_b,label=10D,rw=true \
--disk=/dev/disk/by-partlabel/lv_system_a,label=112,rw=true \
--disk=/dev/disk/by-partlabel/lv_system_b,label=113,rw=true \
--input=/dev/input/usb1_touchscreen1,label=11F \
--input=/dev/input/vmm-autoghgvmlv-pwr-key,label=120 \
--vhost-user-generic "/tmp/linux-vm3-blk-skt",label=111 \
--vhost-user-generic "/tmp/linux-vm3-gpu-skt",label=114,queue-num=2 \
--vhost-user-generic "/tmp/linux-vm3-net-skt",label=200 \
--vhost-user-generic "/tmp/linux-vm3-con-skt",label=201 \
--vhost-user-generic "/tmp/linux-vm3-rng-skt",label=203 \
--vhost-user-generic "/tmp/linux-vm3-vsk-skt",label=204

[Install]
WantedBy = multi-user.target
