# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service to start the Android GVM
Requires=display-be.service gsl_hab_server.service vhost-user-misc.service hyp-video-be.service qcx_be_server.service vmm-pwr-key.service
After=display-be.service gsl_hab_server.service vhost-user-misc.service audio-umd.service awe-audio.service hyp-video-be.service qcx_be_server.service vmm-pwr-key.service
ConditionPathIsSymbolicLink=/dev/input/vmm-pwr-key

[Service]
Type=simple
ExecStart=/usr/bin/qcrosvm \
--vm=autoghgvm \
--disk=/dev/disk/by-partlabel/la_super,label=36,rw=true \
--disk=/dev/disk/by-partlabel/la_userdata,label=35,rw=true \
--disk=/dev/disk/by-partlabel/la_metadata,label=34,rw=true \
--disk=/dev/disk/by-partlabel/la_persist,label=33,rw=true \
--disk=/dev/disk/by-partlabel/la_misc,label=32,rw=true \
--net=true,label=38,ip_addr=10.10.10.10,netmask=255.255.255.0,mac=5A:6F:F0:05:7C:24 \
--vhost-user-hab "/tmp/linux-vm2-disp-skt",label=3C,device-id=93,queue-num=10 \
--vhost-user-hab "/tmp/linux-vm2-ogles-skt",label=39,device-id=94,queue-num=2 \
--vhost-user-hab "/tmp/linux-vm2-misc-skt",label=3A,device-id=90,queue-num=2 \
--vhost-user-hab "/tmp/linux-vm2-aud-skt",label=3B,device-id=91,queue-num=8 \
--vhost-user-hab "/tmp/linux-vm2-vid-skt",label=3D,device-id=95,queue-num=6 \
--vhost-user-hab "/tmp/linux-vm2-cam-skt",label=3E,device-id=92,queue-num=4 \
--input=/dev/input/event2,label=3F \
--input=/dev/input/vmm-pwr-key,label=40

[Install]
WantedBy = multi-user.target
