# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service to start the Linux GVM
# List of service unit dependencies
Requires=vmm-pwr-key.service \
    vhost-user-aud-vm3.service \
    vhost-user-cam-vm3.service \
    vhost-user-disp-vm3.service \
    vhost-user-ext-vm3.service \
    vhost-user-gpce-vm3.service \
    vhost-user-gpu-vm3.service \
    vhost-user-misc-vm3.service \
    vhost-user-vid-vm3.service \
    vhost-user-vnw-vm3.service \
    vhost-device-ssr_lv.service
After=qcrosvm.service \
    vhost-user-scmi-lv.service \
    vmm-pwr-key.service \
    vhost-user-aud-vm3.service \
    vhost-user-cam-vm3.service \
    vhost-user-disp-vm3.service \
    vhost-user-ext-vm3.service \
    vhost-user-gpce-vm3.service \
    vhost-user-gpu-vm3.service \
    vhost-user-misc-vm3.service \
    vhost-user-vid-vm3.service \
    vhost-user-vnw-vm3.service \
    vhost-device-ssr_lv.service

# List of device unit dependencies
Wants=gvm-net-config-lvgvm.service

Conflicts = shutdown.target
Before = shutdown.target
DefaultDependencies = no

[Service]
Type=simple
Slice=gvm.slice
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/qcrosvm \
    --vm=autoghgvmlv \
    --use-non-protected-virtio \
    --disk=/dev/disk/by-partlabel/lv_misc,label=10E,rw=true \
    --disk=/dev/disk/by-partlabel/lv_dtbo_a,label=124,rw=true \
    --disk=/dev/disk/by-partlabel/lv_dtbo_b,label=125,rw=true \
    --disk=/dev/disk/by-partlabel/lv_devinfo,label=101,rw=true \
    --disk=/dev/disk/by-partlabel/bluetooth_a,label=108,rw=false \
    --disk=/dev/disk/by-partlabel/bluetooth_b,label=109,rw=false \
    --disk=/dev/disk/by-partlabel/modem_a,label=10A,rw=false \
    --disk=/dev/disk/by-partlabel/modem_b,label=10B,rw=false \
    --disk=/dev/disk/by-partlabel/dsp_a,label=102,rw=false \
    --disk=/dev/disk/by-partlabel/dsp_b,label=103,rw=false \
    --disk=/dev/disk/by-partlabel/lv_boot_a,label=106,rw=true \
    --disk=/dev/disk/by-partlabel/lv_boot_b,label=107,rw=true \
    --disk=/dev/disk/by-partlabel/lv_vbmeta_a,label=10C,rw=true \
    --disk=/dev/disk/by-partlabel/lv_vbmeta_b,label=10D,rw=true \
    --disk=/dev/disk/by-partlabel/lv_persist,label=10F,rw=true \
    --disk=/dev/disk/by-partlabel/lv_userdata,label=111,rw=true \
    --disk=/dev/disk/by-partlabel/lv_system_a,label=112,rw=true \
    --disk=/dev/disk/by-partlabel/lv_system_b,label=113,rw=true \
    --net=true,label=114,ip_addr=10.10.10.18,netmask=255.255.255.0,mac=5A:6F:66:05:FF:25,tapName=lvgvm0 \
    --console=/tmp/lv_gvm.txt,label=121 \
    --vhost-user-scmi "/tmp/pt-lv-dev-skt",label=123 \
    --vhost-user-hab "/tmp/linux-vm3-ogles-skt",label=116,device-id=94,queue-num=2 \
    --vhost-user-hab "/tmp/linux-vm3-misc-skt",label=117,device-id=90,queue-num=2 \
    --vhost-user-hab "/tmp/linux-vm3-aud-skt",label=118,device-id=91,queue-num=8 \
    --vhost-user-hab "/tmp/linux-vm3-disp-skt",label=119,device-id=93,queue-num=10 \
    --vhost-user-hab "/tmp/linux-vm3-vid-skt",label=11A,device-id=95,queue-num=6 \
    --vhost-user-hab "/tmp/linux-vm3-cam-skt",label=11B,device-id=92,queue-num=4 \
    --vhost-user-hab "/tmp/linux-vm3-vnw-skt",label=11C,device-id=96,queue-num=2 \
    --vhost-user-hab "/tmp/linux-vm3-gpce-skt",label=11D,device-id=98,queue-num=2 \
    --vhost-user-hab "/tmp/linux-vm3-ext-skt",label=11E,device-id=97,queue-num=6 \
    --vhost-user-hab "/tmp/linux-vm3-soccp-skt",label=126,device-id=99,queue-num=2 \
    --vhost-user-hab "/tmp/linux-vm3-dprx-skt",label=127,device-id=100,queue-num=4 \
    --vhost-user-hab "/tmp/linux-vm3-eva-skt",label=128,device-id=101,queue-num=2 \
    --vhost-user-ssr "/tmp/linux-vm3-ssr-skt0",label=129

[Install]
WantedBy = multi-gvm.target
