# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service to start the Linux GVM with Qclinux
Requires=vhost-user-scmi-qclinux-lv.service vhost-device-ssr_lv.service
After=vhost-user-scmi-qclinux-lv.service vhost-device-ssr_lv.service
# List of service unit dependencies
# List of device unit dependencies
[Service]
Type=simple
Slice=gvm.slice
ExecStart=/usr/bin/qcrosvm \
--vm=autoghgvmlv \
--use-non-protected-virtio \
--disk=/dev/disk/by-partlabel/lv_misc,label=10E,rw=true \
--disk=/dev/disk/by-partlabel/lv_dtbo_a,label=124,rw=true \
--disk=/dev/disk/by-partlabel/lv_dtbo_b,label=125,rw=true \
--disk=/dev/disk/by-partlabel/lv_devinfo,label=101,rw=true \
--disk=/dev/disk/by-partlabel/bluetooth_a,label=108,rw=false \
--disk=/dev/disk/by-partlabel/bluetooth_b,label=109,rw=false \
--disk=/dev/disk/by-partlabel/modem_a,label=10A,rw=false \
--disk=/dev/disk/by-partlabel/modem_b,label=10B,rw=false \
--disk=/dev/disk/by-partlabel/dsp_a,label=102,rw=false \
--disk=/dev/disk/by-partlabel/dsp_b,label=103,rw=false \
--disk=/dev/disk/by-partlabel/lv_boot_a,label=106,rw=true \
--disk=/dev/disk/by-partlabel/lv_boot_b,label=107,rw=true \
--disk=/dev/disk/by-partlabel/lv_vbmeta_a,label=10C,rw=true \
--disk=/dev/disk/by-partlabel/lv_vbmeta_b,label=10D,rw=true \
--disk=/dev/disk/by-partlabel/lv_persist,label=10F,rw=true \
--disk=/dev/disk/by-partlabel/lv_userdata,label=111,rw=true \
--disk=/dev/disk/by-partlabel/lv_system_a,label=112,rw=true \
--disk=/dev/disk/by-partlabel/lv_system_b,label=113,rw=true \
--net=true,label=114,ip_addr=10.10.10.18,netmask=255.255.255.0,mac=5A:6F:66:05:FF:25,tapName=lvgvm0 \
--console=/tmp/lv_gvm.txt,label=121 \
--vhost-user-scmi "/tmp/pt-lv-dev-skt",label=123 \
--vhost-user-ssr "/tmp/linux-vm3-ssr-skt0",label=129 \
--log=level=debug

ExecStartPost=-/bin/sh -c 'sleep 3; brctl addif br0 vmtap-lvgvm0'

[Install]
WantedBy = single-lv-gvm.target
